[core]
    editor = vim
[color]
    status = auto
    pager = true
    diff = auto
    branch = auto
[merge]
    ff = false
[pull]
    ff = only
[push]
    default = current
    followTags = true
[rebase]
    autoSquash = true
    autoStash = true
